.hide{

    display: none;

}

body{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20dvh;

}

.balancecont{

    display: flex;
    flex-direction: row;
    font-size: xx-large;

}

button{

    font-size: xx-large;
    margin: .5dvw;
}