.hide{

    display: none;

}

.coin{

    border: 10px solid black;
    border-radius: 10px;
    display: none;

}

body{

    display: flex;
    flex-direction: column;
    align-items: center;
    background: radial-gradient(white, black);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;

}

nav{

    background-color: black;
    width: 100%;
    color: white;

}

.alert{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px solid black;
    border-radius: 10px;
    width: 10dvw;
    height: 20dvh;
    font-size: x-large;
    margin-top: 5dvh;
    text-align: center;

}

.alertext{

    margin: 0%;

}

h1{

    padding-left: 1dvw;

}

.toprow{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50dvw;
    margin-top: 1dvh;

}

.mltcounter{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px solid black;
    border-radius: 10px;
    width: 10dvw;
    height: 20dvh;
    font-size: x-large;

}  

.mltcont{

    display: flex;
    flex-direction: row;

}

.multiboxh{

    margin: 0%;

}

.botcont{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 10px solid black;
    border-radius: 10px;
    width: 10dvw;
    height: 20dvh;

}

.botcounter{

    display: flex;
    flex-direction: row;

}

.balancecont{

    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: xx-large;
    border: 10px solid black;
    border-radius: 10px;
    width: 49dvw;
    margin-top: 1dvh;

}

.balance{

    margin-top: 1dvh;
    margin-bottom: 1dvh;

}

.counter{

    border: 10px solid black;
    border-radius: 10px;
    width: 20dvw;
    height: 20dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 1dvh;

}

button{

    font-size: large;
    margin: .5dvw;

}

.mbrow{

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 59.6dvw;

}

.mlt{

    display: flex;
    flex-direction: column;
    align-self: flex-end;
    width: 20dvw;
    height: 15dvh;
    border: 10px solid black;
    border-radius: 10px;
}

.bots{

    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 20dvw;
    height: 15dvh;
    border: 10px solid black;
    border-radius: 10px;

}

.price {

    margin: 0px;

}

.botbut{

    display: flex;
    flex-direction: row;
    justify-content: center;

}

.achievements{

    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20dvw;
    height: 15dvh;
    border: 10px solid black;
    border-radius: 10px;
    margin-top: 1dvh;

}

footer{

    margin-top: 10dvh;

}

@media only screen and (max-width: 768px) {

    .alert{

        width: 85%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 5%;

    }

    .alertext{

        font-size: x-large;

    }

    h2{

        font-size: small;

    }

    .balance{

        font-size: x-large;

    }

    .balancecont{

        width: 85%;

    }

    .addbut{

        font-size: x-large;
        height: 25dvh;

    }

    .counter{

        height: 31dvh;

    }

    button{

        display: flex;
        align-items: center;
        justify-content: center;
        font-size: small;
        color: white;
        background-color: rgba(0, 0, 0, 0.548);
        height: 50%;
        touch-action: manipulation;

    }

    .toprow{

        width: 90%;

    }

    .mltcounter{

        width: 20%;
        padding: 5%;
        height: 25dvh;

    }

    .multiboxh{

        font-size: large;

    }

    .botcont{

        width: 20%;
        padding: 5%;
        height: 25dvh;

    }

    .mbrow{

        width: 90%;
        display: flex;
        justify-content: space-between;

    }

    .bots{

        display: flex;
        width: 38dvw;
        height: 35dvh;
        margin-top: 1dvh;
        
    }

    .mlt{

        display: flex;
        width: 38dvw;
        height: 35dvh;
        margin-top: 1dvh;

    }

    .achievements{

        width: 85%;

    }

}